DATABASE_URL_2 = mongodb+srv://workout_admin:1IlnPEbxaz2ZwU1I@cluster0.kdy5r.mongodb.net/?retryWrites=true&w=majority
DATABASE_URL = mongodb://workout_admin:1IlnPEbxaz2ZwU1I@cluster0-shard-00-00.kdy5r.mongodb.net:27017,cluster0-shard-00-01.kdy5r.mongodb.net:27017,cluster0-shard-00-02.kdy5r.mongodb.net:27017/?ssl=true&replicaSet=atlas-c3z7ab-shard-0&authSource=admin&retryWrites=true&w=majority
SECRET = "workout"